body { background-color: rgb(236, 230, 230);
    font-family: Helvetica;
    font-weight: 100;
    margin: 0;
    padding: 0;
       
}
.page_header {
border-bottom: 1px;
border-color: #edeeee;
background: white;
overflow: hidden;
margin-bottom: 60px;
}
.page_header > div {
    width: 600px;
    margin: auto;
}
.container {
    width: 600px;
    margin: auto;
}
.post_title {
    overflow: hidden;
}
.title_container h2 {
    font-size: 18px;
}
.post_title > div {
    width: 50%;
    float: left;
}
.date_container {
    text-align: right;
    color: #a5a7aa;
}
.image_container {
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
}
.comment_container {
    padding: 0px 24 px;
}
